.contact-list {
    font-size: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-list a {
    margin: 20px;
    color: white;
}

.contact-list a:hover {
    color: var(--secondary-color)
}

.mailing {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
}

.mailing input[type='text'], 
.mailing textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    height: 40px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

:focus {
    outline: none;
}

.mailing input[type='button'] {
    width: 150px;
    padding: 15px;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    transition: background 0.5s ease-in-out;
}

.mailing input[type='button']:hover {
    background: linear-gradient(var(--secondary-color), var(--primary-color))
}

.message {
    background: red;
    float: left;
    width: 400px;
    margin: 0;
}

.reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.message img {
    width: 100px;
}