.App {
  text-align: center;
  background: linear-gradient(#101010, #000);
} 

body {
  overflow: auto;
  overflow-x: hidden;
}

p, div {
  color: white;
}

:root {
  --primary-color: #1f4eba; 
  --secondary-color: #00cdac;
}

.gradient-background {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  color: white;
  height: 100vh;
  z-index: 10;
}

nav a {
  margin: 15px 10px;
  cursor: pointer;
  position: relative;
}

nav a .tooltip {
  font-size: 14px;
  width: 100px;
  text-align: left;
  position: absolute;
  right: -120px;
  top: 10px;
  visibility: hidden;
  color: white;
}

nav a:hover {
  color: #101010;
}

nav a:hover .tooltip {
  visibility: visible;
} 


#skills li {
  position: relative;
}

#skills li:hover .tooltip {
  visibility: visible;
}

#skills .tooltip {
  font-size: 14px;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  visibility: hidden;
}

.react:hover,
.google-cloud:hover,
.docker:hover {
  color: #5ed4f4;
}

.bootstrap:hover {
  color: #5c3f83;
}

.javascript:hover,
.python:hover {
  color: #f0d91d;
}

.html:hover,
.rabbitmq:hover {
  color: #ea6227;
}

.css:hover,
.neo4j:hover {
  color: #59a5e8;
}

.nodejs:hover {
  color: #90c443;
}

.nginx:hover,
.mongodb:hover  {
  color: #1a9036;
}

.git:hover,
.aws:hover {
  color: #f04f30;
}

.digital-ocean:hover {
  color: #1380ff;
}

.rabbitmq {
  font-size: 55px !important;
}

.rabbitmq svg {
  margin: 10px;
}


section {
  min-height: 100vh;
  background: #101010;
  width: calc(100% - 80px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  float: right;
}

#home {
  justify-content: center;
}

h1 {
  font-size: 4vw;
  color: white;
}

.flex-row {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-container {
  position: relative;
  text-align: center;
}


#about img {
  margin: 10px;
  min-width: 300px;
  height: auto;
  max-height: 400px;
}

.about-inner {
  width: 90%;
  justify-content: center;
}

.about-me {
  width: 50%;
  min-width: 300px;
  font-size: 20px;
  color: white;
  text-align: left;
}


#projects img {
  max-width: 50%;
  margin: 0;
}

#projects p {
  width: 50%;
  min-width: 300px;
  margin: 40px auto;
}

#skills ul {
  list-style: none;
  text-align: center;
  align-items: center;
  padding: 0;
}

#skills li {
  font-size: 70px;
  margin: 10px 10px;
  transition: color 0.5 ease-in-out;
}

#skills h3 {
  text-align: center;
}

#home {
  height: 100vh;
}

#home h1 {
  text-shadow: #333 3px 3px 3px;
}

.centralize {
  justify-content: center;
  align-items: center;
}

.destak-text {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}


.toggle-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border: none;
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  z-index: 10;
  visibility: hidden;
}


.toggle-menu div {
  width: 90%;
  height: 4px;
  background: white;
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
  left: 0;
}

.toggle-menu div:nth-child(2) {
  background: transparent;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.toggle-menu div:first-of-type {
  position: absolute;
  left: calc(50% - 14px);
  transform: rotate(45deg);
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.toggle-menu div:last-of-type {
  position: absolute;
  left: calc(50% - 14px);
  transform: rotate(-45deg);
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.toggle-menu.hidden div {
  position: relative;
  transform: rotate(360deg);
  background: white;
  transition: background 0.5s ease-in-out transform 0.5s ease-in-out;
  left: 0;
} 


.avatar-image {
  margin: 0;
  width: 200px;
  height: 200px;
}

.home-title {
  width: 100%;
  font-size: 3vh;
}

.home-image-container {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  #projects img {
    min-width: 300px;
    height: auto;
  }

  #home h1 {
    max-width: 100%;
    text-align: center;
  }

  #home {
    padding-top: 0;
  }

  #home span {
    display: block;
    margin: 0;
  }

  h1 {
    font-size: 35px;
    z-index: 2;
  } 

  nav.hidden {
    right: -70px;
    transition: right 0.5s ease-in-out;
  }

  nav {
    flex-direction: column;
    position: fixed;
    right: 0px;
    left: unset;
    width: 50px;
    height: 100vh;
    bottom: 0;
    transition: right 0.5s ease-in-out;
  }

  .flex-row {
    justify-content: center;
  }

  nav a {
    margin: 10px 10px;
  }

  #about img {
    width: 300px;
    height: 400px;
  }

  .about-me {
    width: 100%;
    padding: 0px; 
  } 

  .avatar-image {
    margin: 0;
    width: 100px;
    height: 100px;
  }

  section {
    padding: 10px;
  }

  section {
    min-width: calc(100vw - 20px);
  }

  nav a .tooltip {
    visibility: visible;
    left: -10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    bottom: -5px;
    top: unset;
  }
  
  .toggle-menu {
    visibility: visible;
  }

}


.logo-image { 
  width: 400px !important;
  height: 200px !important;
  transform: rotate(0deg);
  transition: all 1s ease-in-out;
}

.logo-image:hover {
  transform: rotate(180deg);  
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.centralize {
  text-align: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-start {
  align-items:flex-start;
}