.App {
  text-align: center;
} 

body {
  overflow: hidden;
}

:root {
  --primary-color: #1f4eba; 
  --secondary-color: #00cdac;
}

.gradient-background {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 30px;
  color: white;
  height: 100vh;
  z-index: 10;
}

section {
  height: 100vh;
}

.scroll {
  width: 50vw;
  float: right;
  height: 100vh;
  z-index: -1;
  background: red;
  overflow-y: scroll;
}