.App {
  text-align: center;
  background-color: #fafafa;
} 

body {
  overflow: auto;
  overflow-x: hidden;
}

p, div {
  color: var(--primary-color);
}

h2 {
  font-size: 20px;
}

header {
  padding: 20px 0;
  background-color: transparent;
}

:root {
  --primary-color: #333; 
  --secondary-color: #00cdac;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

nav a {
  cursor: pointer;
}

.tooltip {
  font-size: 14px;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
}

nav a:hover {
  color: #101010;
}

nav a:hover .tooltip {
  visibility: visible;
} 


#skills li {
  position: relative;
}

#skills li:hover .tooltip {
  visibility: visible;
}

#skills .tooltip {
  font-size: 14px;
  text-align: center;
}

.shadow {
  box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.3);
}

.react:hover,
.google-cloud:hover,
.docker:hover {
  color: #5ed4f4;
}

.bootstrap:hover {
  color: #5c3f83;
}

.javascript:hover,
.python:hover {
  color: #f0d91d;
}

.html:hover,
.rabbitmq:hover {
  color: #ea6227;
}

.css:hover,
.neo4j:hover {
  color: #59a5e8;
}

.nodejs:hover {
  color: #90c443;
}

.nginx:hover,
.mongodb:hover  {
  color: #1a9036;
}

.git:hover,
.aws:hover {
  color: #f04f30;
}

.digital-ocean:hover {
  color: #1380ff;
}

.rabbitmq {
  font-size: 55px !important;
}

.rabbitmq svg {
  margin: 10px;
}


section {
  min-height: 100vh;
  width: calc(100% - 80px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  float: right;
}

#home {
  justify-content: center;
}

h1 {
  font-size: 4vw;
  color: var(--primary-color);
}

.flex-row {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-container {
  position: relative;
  text-align: center;
  padding: 20px 0;
}


#about img {
  margin: 10px;
  min-width: 300px;
  height: auto;
  max-height: 400px;
}

.about-inner {
  width: 90%;
  justify-content: center;
}

.about-me {
  width: 50%;
  min-width: 300px;
  font-size: 20px;
  color: var(--primary-color);
  text-align: left;
}



#projects img, 
#certifications img {
  max-width: 50%;
  min-width: 320px;
  margin: 0;
}

#projects p {
  width: 50%;
  min-width: 300px;
  height: auto;
  margin: 40px auto;
}

#skills ul {
  list-style: none;
  text-align: center;
  align-items: center;
  padding: 0;
}

#skills li {
  font-size: 70px;
  margin: 10px 10px;
  transition: color 0.5 ease-in-out;
}

#skills h3 {
  text-align: center;
}


#home h1 {
  text-shadow: #333 3px 3px 3px;
}

.centralize {
  justify-content: center;
  align-items: center;
}

.destak-text {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}


.toggle-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border: none;
  color: var(--primary-color);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  z-index: 10;
  visibility: hidden;
}


.toggle-menu div {
  width: 90%;
  height: 4px;
  background: white;
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
  left: 0;
}

.toggle-menu div:nth-child(2) {
  background: transparent;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.toggle-menu div:first-of-type {
  position: absolute;
  left: calc(50% - 14px);
  transform: rotate(45deg);
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.toggle-menu div:last-of-type {
  position: absolute;
  left: calc(50% - 14px);
  transform: rotate(-45deg);
  transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.toggle-menu.hidden div {
  position: relative;
  transform: rotate(360deg);
  background: white;
  transition: background 0.5s ease-in-out transform 0.5s ease-in-out;
  left: 0;
} 


.avatar-image {
  margin: 0;
  width: 100px;
  height: 100px;
}

.home-title {
  width: 100%;
  margin: 0;
  font-size: 3vh;
}

.home-image-container {
  width: 100%;
}

.whatsapp-link {
  color: #1a9036;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {


  h1 {
    font-size: 35px;
    z-index: 2;
  } 

 
  .flex-row {
    justify-content: center;
  }

  .whatsapp-link {
    color: #1a9036;
  }

  #about img {
    width: 300px;
    height: 400px;
  }

  .about-me {
    width: 100%;
    padding: 0px; 
  } 

  .avatar-image {
    margin: 0;
    width: 100px;
    height: 100px;
  }

  section {
    padding: 10px;
  }
  
  .toggle-menu {
    visibility: visible;
  }

}


.logo-image { 
  width: 200px !important;
  height: 100px !important;
  transform: rotate(0deg);
  transition: all 1s ease-in-out;
}

.logo-image:hover {
  transform: rotate(180deg);  
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.centralize {
  text-align: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-start {
  align-items:flex-start;
}

.contact-list {
  font-size: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-list a {
  margin: 20px;
  color: var(--primary-color);
}

.mailing {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
}

.mailing input[type='text'], 
.mailing textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  height: 40px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}

:focus {
  outline: none;
}

.mailing input[type='button'] {
  width: 150px;
  padding: 15px;
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  transition: background 0.5s ease-in-out;
}

.mailing input[type='button']:hover {
  background: linear-gradient(var(--secondary-color), var(--primary-color))
}

.message {
  float: left;
  width: 400px;
  margin: 0;
}

.reverse {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.message img {
  width: 100px;
}